<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Waves 2k19</title>

    <!-- Bootstrap core CSS -->
    <link href="../scripts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="../scripts/img/logo.png" type="image/gif" sizes="16x16">

    <!-- Custom fonts for this template -->
    <link href="../scripts/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../scripts/css/grayscale.min.css" rel="stylesheet">

  </head>

  <body id="page-top">
    <div class="loader">
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger"  href="#page-top"><p class="text-warning">WAVES 2019</p></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href=""><p class="text-info"><b>Home</b></p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about"><p class="text-info"><b>About Us</b></p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects"><p class="text-info"><b>Events</b></p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#workshops"><p class="text-info"><b>Workshops</b></p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href=""><p class="text-info"><b>Accommodation</b></p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#sponsors"><p class="text-info"><b>Sponsors</b></p></a>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href=""><b class="text-danger"><b>Username<span class="caret"></span></b></a>
               <ul class="dropdown-menu">
                <li><a onclick="logout();" href=""><b class="text-danger">Logout</b></a></li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <div class="logoeffects">
          <img src="../scripts/img/logo.png" class="img-fluid" alt="Waves Logo" />
        </div>
          <h2 class="text-white mb-4">March 8,9 2K19</h2>
          <h3 class="text-warning">Infinity Unravelled</h3>
          <a href="register_login.html" class="btn btn-primary js-scroll-trigger">SignUp</a>
          <a href="register_login.html" class="btn btn-primary js-scroll-trigger">Login</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <a href="aboutus.html" class="text-info">
            <h2 class="text-white mb-4">About Us</h2></a>
            <p class="text-white-50">A National Level Technical Symposium at College Of Engineering, Guindy, Anna University,Chennai, organised by the Society Of Electrical and Electronics Engineers.
               .Get ready to be electrified</p>
          </div>

        </div>
        <img src="../scripts/img/aboutus.jpg" class="img-fluid" alt="">
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->


        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="../scripts/img/events.jpg" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                <a href="events.html"><h4 class="text-white">Events</h4></a>
                  <p class="mb-0 text-white-50">The events will be updated soon</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
        <!-- Project Two Row -->
        <section id="workshops" class="projects-section bg-light">
          <div class="container">
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="../scripts/img/workshops.jpg" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <a href="workshops.html"><h4 class="text-white">Workshops</h4></a>
                  <p class="mb-0 text-white-50">Get ready for the electrifying workshops</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>




    <!-- Signup Section
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

            <form class="form-inline d-flex">
              <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
              <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
            </form>

          </div>
        </div>
      </div>
    </section>
-->
    <!-- Contact Section -->
    <section id="sponsors" class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-6 mb-3 mb-md-0">
            <a href="sponsors.html">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Sponsors</h4>
                <hr class="my-4">
                <div class="small text-black-50">Click to Know about the sponsors</div>
              </div>
            </div></a>
          </div>

          <div class="col-md-6 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Contact Us</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">hello@yourdomain.com</a>
                </div>
              </div>
            </div>
          </div>


        </div>

        <div class="social d-flex justify-content-center">
          <a href="https://www.instagram.com/waves_ceg/" target="_blank" class="mx-2">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.facebook.com/wavesceg/" target="_blank" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.linkedin.com/company/seee/" target="_blank" class="mx-2">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Waves Website 2019
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../scripts/vendor/jquery/jquery.min.js"></script>
    <script src="../scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../scripts/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../scripts/js/grayscale.min.js"></script>

  </body>

</html>
